body{
    background-color: rgb(20, 84, 104);
    display: flex;
    flex-direction: row;
}

button {
    width: 100px ;
    height: 50px ;
    background-color: brown;
}
.button1{
    width: 100px ;
    height: 50px ;
    background-color: rgb(82, 82, 82);
}
.container {
    display: flex;
    flex-direction: column;
    border-right: solid;
    border-color: black;
}
.d1 {
    margin-left: 600px;
    text-align: center;
}
