h1{
    color:blue;
    font-size:  45px;
}
.home{
    font-family:initial;
    color:rgb(224, 224, 9);
font-size: 45px}
.div1 {
    display: flex;
    flex-direction: column;
}
body{
    display:flex;
    flex-direction: row;
    background-color: rgba(255, 153, 0, 0.74);
}
.phenix {
    display:flex;
    flex-direction: row;
}
.phenix2{ display:flex;
    flex-direction: row;
}
