
.c {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    background-color: black;
}
.f {
    display: flex;
    flex-direction: column;
    color: white;
    background-color: #696969; 

}
body{
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
}
.m {
    display: flex;
    flex-direction: column;
    background-color: #DCDCDC;
    margin: 20px;
    padding: 10px;
    width: 90%;
}
.a {
    display: flex;
    flex-direction: column;
    background-color: #DCDCDC;
    margin: 20px;
    padding: 10px;
}
.n {
    display:flex;
    flex-direction: row;
}
.k {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    background-color: black;
    height: 50px;
    margin-bottom: -16px;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}