body{
    display: flex;
    flex-direction: column;
    margin:0 ;
    padding: 0;
    text-align: center;
    background-color: #ffffff;

}

.allAboutMe{
    display: flex;
    flex-direction: row;
    padding: 10px;
    background-color: #88abf5;
    margin-bottom: 10px;
}

.secondBlock{
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: #92d368;
    margin-bottom: 10px;
    
}
.photos{
    display: flex;
    flex:1;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    
}
.text{
    margin: 10px;
    padding: 10px;
    font-family:
    Lucida Console,
    Courier,
    monospace;
}
.img{
    border-radius: 50%;
}
.myMood{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.aboutMe_block{
    margin: 5px;
    padding: 5px;
    /* height: 60px; */
    background-color: #ffffff;
    border-radius: 50%;
}
.space_between{
    display: flex;
    flex:6;
    background-color: #92d368;
}
.container {
    display: flex;
    flex: 1;
    justify-content: center; 
    align-items: center; /* выравнивание по вертикали */
    flex-direction: row; 
}

.circle{
    
    margin: 5px;
    padding: 5px;
    border-radius: 50%;
    width: 50%;
    height: 50%;
}
.one{

    background-color: #ffcd00;
}
.two{

    background-color: #ff0000;
}
.three{

    background-color: #a03cfd;
}



.box1{
    display:flex;
    flex:1;
    flex-direction: column;
    margin: 10px;
    padding: 10px;

    font-size: 40px;
}

.box3{
    display: flex;
    flex-direction: column;
    flex:3; 
    background-color: #c088f5;
}
.row_photosMood{
    padding: 10px;
    display: flex;
    flex-direction: row;  /* горизонтальное расположение элементов */
    justify-content: space-between;  /* равномерное расстояние между картинками */
    align-items: center;  выравнивание по вертикали
}

.itemsingorizontal{
    width: 33%;  /* задайте нужную ширину картинок */
    height: auto;  /* сохраняйте пропорции */
}

.reviews_ghatGPT{
    margin: 15px;
    padding: 15px;
    font-family: system-ui;
    text-align: left;
    font-size: 30px;
}

.visitorsReaction{
    margin: 10px;
    padding: 10px;
    background-color: #f74f4f;
}
.input-item{
    margin:5px;
    padding:4px;
}
