.verx {
    color: rgb(230, 232, 233);
    text-align: center;
    background-color: rgb(39, 79, 114);
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
.levo {
    border-radius: 50 ;
    padding: 10px;
    margin: 10px;

}
.get_app {
    text-align:center ;
    background-color: rgb(110, 190, 190);
}
.log_in{
    text-align: center;
    background-color: rgb(21, 116, 116);
}
.pravo {
    display: flex;
    flex-direction: column ;
    align-items: left;
    background-color: rgb(158, 210, 255);
    padding: 10px;
    
    margin: 10px;
}
.center{
    padding: 10px;
    margin: 10px;
}
.block1{
    background-color: rgb(158, 210, 255);
}
.search{
    padding: 10px;
    margin: 10px;
}
.menu{
    border: 1px solid;
    border-color:black;
    display: none;
    background-color: rgb(255, 255, 255);
}
.nav-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.seredina{
    background-color: rgb(22, 106, 180);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.buttonMyProfel{
    color:aliceblue ;
    background-color: rgb(46, 177, 238);
    text-align: center;
    margin-bottom: 0px;
    border: solid;
    width: 200px;

}
.buttonMyTitle{
    color:aliceblue ;
    background-color: rgb(46, 177, 238);
    text-align: center;
    margin-bottom: 0px;
    border: solid;
    width: 200px;
}
.buttonSettings{
    color:aliceblue ;
    background-color: rgb(46, 177, 238);
    text-align: center;
    margin-bottom: 0px;
    border: solid;
    width: 200px;
}
.buttonConfidentiality{
    color:aliceblue ;
    background-color: rgb(46, 177, 238);
    text-align: center;
    margin-bottom: 0px;
    border: solid;
    width: 200px;
}
.buttonchat{
    color:aliceblue ;
    background-color: rgb(46, 177, 238);
    text-align: center;
    margin-bottom: 0px;
    border: solid;
    width: 200px;
}
.PopularCommunities{
    color:aliceblue ;
    border: 1px solid;
    border-color:black;
    background-color: rgb(46, 177, 238);
    text-align: center;
    padding: 10px;
    margin: 10px;;
    
    width: 200px ;
    height: 430px ;
    
}
.buttonMiniProfil{
    color:aliceblue ;
    background-color: rgb(46, 177, 238);
    text-align: center;
    margin-bottom: 0px;
    border: solid;
    width: 200px;
}
.buttonPolitecyl{
    color:aliceblue ;
    background-color: rgb(46, 177, 238);
    text-align: center;
    margin-bottom: 0px;
    border: solid;
    width: 200px;
}
.buttonHelp{
    color:aliceblue ;
    background-color: rgb(46, 177, 238);
    text-align: center;
    margin-bottom: 0px;
    border: solid;
    width: 200px;
}
.Ikonca{
    border-radius: 50%;
    height: 85px;
    width: 80px;
    
}
.center1{
    color: rgb(230, 232, 233);
    text-align: center;
    background-color: rgb(39, 79, 114);
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
.anime{
    height: 250px;
    width: 200px;
}